In [1]:
years = list(range(1991, 2024))

In [2]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [4]:
import requests
import time
from time import sleep

for year in years:
    url = url_start.format(year)
    sleep(10)
    data = requests.get(url)
    
    with open("mvp/{}.html".format(year), "w+") as f:
        f.write(data.text)

In [3]:
from bs4 import BeautifulSoup

In [8]:
import pandas as pd

In [23]:
dfs = []
for year in years:
    with open("mvp/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find("tr", class_="over_header").decompose()
    mvp_table = soup.find(id="mvp")
    mvp = pd.read_html(str(mvp_table))[0]
    mvp["Year"] = year
    
    dfs.append(mvp)

In [24]:
mvps = pd.concat(dfs)

In [26]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,37.1,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,37.7,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,37.3,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,40.3,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991

In [28]:
mvps.to_csv("mvps.csv")

In [29]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

In [38]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [41]:
browser = webdriver.Safari()

In [48]:
for year in years:
    url = player_stats_url.format(year)
    time.sleep(10)
    
    browser.get(url)
    browser.execute_script("window.scrollTo(1, 10000)")
    time.sleep(5)

    html = browser.page_source
    
    with open("player/{}.html".format(year), "w+") as f:
        f.write(html)